<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>436192046181-l581n5pd2vo99ui5o54p22aabcqmik5b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.436192046181-l581n5pd2vo99ui5o54p22aabcqmik5b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>436192046181-ec51642ibd6614ou0eu6pjl9ofsvvqgp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAlwIGLcNUv_7SLDPi2cDaDvzZLtzZJRZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>436192046181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orelmeister.tutorritoapp</string>
	<key>PROJECT_ID</key>
	<string>tutorrito-45d33</string>
	<key>STORAGE_BUCKET</key>
	<string>tutorrito-45d33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:436192046181:ios:f90d031c8c2a64af96aa8c</string>
	<key>DATABASE_URL</key>
	<string>https://tutorrito-45d33-default-rtdb.firebaseio.com</string>
</dict>
</plist>